@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './prism.css';
@import 'tailwindcss/utilities';

@layer base {
  body {
    background-color: #1d1d1f;
    margin: 0;
    padding: 0;
    overflow-y: overlay;
    font-family: sans-serif;
    @apply text-zinc-400;
  }

  /* change scrollbar */
  body::-webkit-scrollbar {
    display: none;
  }
  body {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-zinc-200;
  }

  hr {
    @apply border-zinc-700/25;
  }
  .social {
    width: 2rem;
    height: 2rem;
    stroke-width: 2;
    @apply text-white;
    cursor: pointer;
  }
  .social:hover {
    @apply text-cyan-500;
    filter: drop-shadow(0px 0px 3px rgb(20 184 166));
  }
}
